.bg-light{
    background-color: transparent !important;
    color: black;

}

.bg-black{
    background-color: #000;
}

div#navbarNav ul li a{
    color: #fff;
    padding-left: 10px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit:fill;
    }
    


    .quick-400{
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
    }
    
    .quick-700{
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
    }

.bg-azulito{
    background-color: #08CCEE;
    color: #fff;
}

section#quienes div div p{
    text-align: justify;
    color: #fff !important;
}

.icons-link a{
    color: #fff;
}

.bg-negrito-opaco{
    background-color: rgba(0,0,0,0.2);
}

.card-title, .card-description{
    color: #fff;
}